.faq {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  padding-bottom: var(--rs-unit-x12);
}

.title {
  margin-bottom: var(--rs-unit-x4);
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}
