.paragraph {
  margin-bottom: 16px;
  line-height: 1.6;
}

.heading {
  margin-top: 24px;
  margin-bottom: 16px;
}

.list {
  margin-bottom: 16px;
  padding-inline-start: 24px;

  li {
    margin-bottom: 8px;
  }
}

.item {
  margin-bottom: 8px;
}
